body {
    color: #000;
    font-size: 18px;
    font-weight: 400;
}

nav {
    display: block;
}


.header {
    width: 100%;
    margin: 0 auto;
    padding: 92px 50px;
    display: grid;
    grid-template-columns: 5fr 3fr 2fr;
    align-items: center;
}

.header__menu {

}

.header__menu-list {
    width: 388px;
    display: flex;
    gap: 13px;
    justify-content: space-between;
}

.header__menu-item {
    list-style: circle;
    text-decoration: underline;
}

.header__menu-item_active {
    list-style: none;
    text-decoration: none;
 }

.header__menu-link {

}

.header__logo {
    display: block;
    width: 148px;
}

.logo {
width: 100%;
}

.header__contact-list {
    display: flex;
    flex-direction: column;
}

.header__contact-item {
    line-height: 1.35;
}

.cover {
    position: relative;
    min-height:764px;
    background-image: url(../images/cover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.cover__title {
    padding: 165px 50px 147px;
    display: flex;
    flex-direction: column;
    margin:0;
    color: #fff;
    font-size: 100px;
    font-weight: 700;
    line-height: 1.15;
    letter-spacing: 30px;
    text-transform: uppercase;
}

.accent-span {
    z-index: 10;
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.cover__description {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 80px;
    gap:78px;
}

.cover__description-text {
    z-index: 10;
    color: #FFF;
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.27;
    text-transform: uppercase;
    word-spacing: 20px;
}

.bet-button {
    z-index: 10;
    padding: 12px 32px;
    border: 1px solid #FFF;
    background-color: transparent;
    cursor: pointer;
    color: #fff;
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;

}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: rgba(0,0,0,0.6);
}

